.vbox{
    -fx-padding: 20;
    -fx-spacing: 20;
}

.hbox{
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment:top-left;
    }

.text-main{
    -fx-font: 15px Arial;
    -fx-text-alignment: justify;

}


.text-title {
    -fx-font:25px Arial;
    -fx-text-alignment: left;
    -fx-font-weight:bold;
}
.text-animate{
    -fx-font:22px Arial;
    -fx-text-alignment: left;
    -fx-font-weight:bold;
}

.text-welcome{
    -fx-font:40px Arial;
    -fx-text-alignment: center;
    -fx-font-weight:bold;
}
.text-instructions{
    -fx-font:70px Arial;
    -fx-text-alignment: center;
    -fx-font-weight:bold;
}

.rectangle-encrypt{
    -fx-fill:#cededa;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 5, 0, 5, 5 );
    -fx-smooth:true;
    -fx-arc-width:30;
    -fx-arc-height:30;


}

.rectangle-decrypt{
    -fx-fill:#9ac2d9;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 10, 0, 5, 5 );
    -fx-smooth:true;
    -fx-arc-width:30;
    -fx-arc-height:30;

}

.rectangle-neither{
    -fx-fill:#c7afc7;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 10, 0, 5, 5 );
    -fx-smooth:true;
    -fx-arc-width:30;
    -fx-arc-height:30;

}

.rectangle-speech{
    -fx-fill:#f2f2f2;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 10, 0, 5, 5 );
    -fx-smooth:true;
    -fx-arc-width:30;
    -fx-arc-height:30;

}

.stack{
    -fx-alignment:top-left;
    -fx-padding:10;

}

.text-field{
    -fx-text-fill:black;
    -fx-prompt-text-fill:black;
    -fx-opacity: 1.0;
}

.text-input:readonly {
    -fx-background-color: transparent;
    -fx-text-fill:black;
    -fx-prompt-text-fill:black;
}

.box-base{
    -fx-fill:WHITE;
    -fx-smooth:true;
    -fx-stroke:#57464e;
    -fx-arc-width:20;
    -fx-arc-height:20;
    -fx-stroke-width:10;
}

.box-prime{
    -fx-fill:#b3ddbf;
    -fx-stroke:GREEN;

}

.box-not-prime{
    -fx-stroke:RED;
    -fx-fill:LIGHTPINK;
}

.radio-button .radio {
    -fx-border-width: 3px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

.grid{
    -fx-vgap:25;
    -fx-hgap:15;
    }

.tooltip{
    -fx-font: 12px Arial;
}